.activity-container {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.activity-card {
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0 0 0.05rem #97bf11, 0 0 0.5rem rgba(0, 0, 0, 0.233);
  height: max-content;
}

.activity-card img {
  width: 250px;
}

.activity-content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.activity-card button {
  background-color: #97bf11;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  color: white;
  align-self: center;
  width: fit-content;
}
