@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Hat+Display:wght@300&display=swap');

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  width: 20%;
  height: 100vh;
  padding: 15px;
  background-color: #fefefe;
  border-right: 1px solid #f0f5f2;
}

.navigationLinks {
  display: flex;
  flex-direction: column;
}

footer ul a {
  color: rgba(0, 0, 0, 0.637);
}

.navigationLinks a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
  padding: 5px;
  transition: color 0.15s ease, background-color 0.15s ease;
}

.nav-head {
  padding-top: 3rem;
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}

.navigationLinks a:active {
  background-color: #83a809;
  color: #fff;
}

.navigationLinks a:hover {
  color: #97bf11;
}

.Nav-Links {
  font-family: 'Red Hat Display', sans-serif;
}

.NavLink-Container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
}

.NavLink-Container.active {
  background: #83a809;
  color: #fff;
  padding: 10px 0 10px 10px;
}

footer ul {
  width: 60%;
  display: flex;
  list-style-type: none;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 0;
}
