.reserve-form-container {
  color: #fff;
  gap: 1rem;
  justify-content: center;
}

.reserve-form-container header {
  margin-bottom: 1.25rem;
}

.reserve-form-container header h2 {
  font-size: 22.5px;
  letter-spacing: 3px;
  font-weight: 700;
  text-shadow: none;
  position: relative;
}

.reserve-form-container header h2::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: -1rem;
  left: 0;
  height: 1px;
  background: #fff;
}

.reserve-form-container > p {
  width: 100%;
  text-align: center;
  max-width: 700px;
}

.reserve-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.reserve-form > :is(button, select) {
  padding: 0.75rem 2rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
}

select {
  text-align: center;
  text-align-last: center;
}

.reserve-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 0.05rem #fff;
  text-align: center;
  color: white;
}

option {
  background-color: #97bf11;
  color: white;
  text-align: left;
}
